<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ICN9AvdHwDQFdp0aT74zksJQANEenC0z8LvblzjiE7/HDsIPiSfk4WqZJFYO1vlH/4RU
	6YJEP07MBBWN0bfF7NKuf3XjiUHd6J+rAe85soHHWdyveE5lpZ21rdn1V+3B1Fxvovul
	VYIiQMc7r6LZQ6lmf3m4NfZEQR4azcJOktk=
	</data>
</dict>
</plist>
